*{margin:0;padding: 0;box-sizing: border-box}
a{text-decoration: none}
kbd{
    border: 1px solid red;
    width:4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd>button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}
main{text-align: center}
#mainCon{display: inline-block}
#mainCon > div:nth-child(2){
    margin-left: 2em;
}
#mainCon > div:nth-child(2){
    margin-left: 4em;
}