*{margin:0;padding: 0;box-sizing: border-box}
a{text-decoration: none}
.divBox{
    margin: 10px auto;
   margin-top: 40px;
}
.divBox > div{
   text-align: center;
   
}
.divBox kbd{
   border: 1px solid red;
   width:4em;
   height: 4em;
   display: inline-block;
   text-transform: uppercase;
   position: relative;
   margin: 15px;
}
kbd >button{
   position: absolute;
   right: 0;
   bottom: 0;
   display: none; 
}
kbd:hover > button{
   display: inline-block;
}