*{margin: 0;padding: 0;box-sizing: border-box;}
*::after,*::before{box-sizing: border-box;}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.code-wrapper{
    flex: 1;
    height: 50%;
}
#code{
    overflow: auto;
    height: 100%;
    padding: 15px;
}
.preview-wrapper{
    flex: 1;
    height: 50%;
}
.preview{
    border:1px solid green;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdc2b;
}
.wrapper{
    width: 100%;
    height: 165px;
    position: relative;
    
}
.wrapper>:not(:last-child){
    z-index: 1;
}
.actions{
    position: absolute;
    right: 0;
    top: 0;
 
    display: flex;
    flex-direction: column;
}
.actions > button{
    margin: 10px 0;
    background: #dddddd;
    padding: 10px;
    border: none;
    border-radius: 3px;
}
.actions>button.active{
    background: #007acc;
    color: #ffffff;
}

